.Cloudia-TextInput{
    display:flex;
    flex-direction:column
    
}

.Cloudia-TextInput .label {
    font-family:'Segoe UI';
    font-size:13pt

}

.Cloudia-TextInput .input{
    padding:5px;
    border:1px solid #c5c5c5;
    margin:2px;
   
    
}
.Cloudia-TextInput .input:focus{
    outline:1px solid #0094ff;
   

}