.Cloudia-PasswordInput{
    display:flex;
    flex-direction:column
    
}

.Cloudia-PasswordInput .label {
    font-family:'Segoe UI';
    font-size:13pt

}

.Cloudia-PasswordInput .input{
    padding:5px;
    border:1px solid;
    margin:2px;
   
    
}
.Cloudia-PasswordInput .input:focus{
    outline:1px solid #0094ff;
   

}